@model VetReserve.Models.VisitModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VisitModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Office" class="control-label"></label>
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalName" class="control-label"></label>
                <input asp-for="AnimalName" class="form-control" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetName" class="control-label"></label>
                <input asp-for="VetName" class="form-control" />
                <span asp-validation-for="VetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetSurname" class="control-label"></label>
                <input asp-for="VetSurname" class="form-control" />
                <span asp-validation-for="VetSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAdress" class="control-label"></label>
                <input asp-for="OfficeAdress" class="form-control" />
                <span asp-validation-for="OfficeAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
