@page
@model VetReserve.Views.Home.ContactModel
@{
}
<h1>Kontakt</h1>

<p>Przychodnia Weterynaryjna VetReserve</p>
<p>Numer telefonu: +(48)323-212-356 </p>
<p>ul.Szczęśliwa</p>
<p>85-149 Gdańsk</p>
<p>e-mail: kontakt@vetreserve.pl</p>
