@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Witaj w Vet Reserve</h1>
        <p>Zajmujemy się pośrednictwem w umawianiu wizyt dla waszych pupili.</p>
        <img src="~/css/gab.jpg" />
        <p>Nasz gabinet zajmuje się od 5 lat profesjonalną opieką waszych zwierzaków.</p>
        <p>Nasi weterynarze zajmują się leczeniem z najwyższą troską o każdego małego jak i dużego pacjenta.</p>
    </div>
