
@{
    ViewData["Title"] = "Usługi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Nasze usługi wraz z cennikiem  &#128512;</h1>
   
    <table>
        <thead>
            <tr>
                <th>Usługa</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Usg zwierząt</td>
                <td>od 30 zł</td>
            </tr>
            <tr>
                <td>Obcinanie pazurków</td>
                <td>od 10 zł</td>
            </tr>
            <tr>
                <td>Chirurgia ogólna zwierząt</td>
                <td>od 70 zł</td>
            </tr>
            <tr>
                <td>Chipowanie zwierząt</td>
                <td>od 35 zł</td>
            </tr>
            <tr>
                <td>Badanie rtg zwierząt</td>
                <td>od 40zł</td>
            </tr>
            <tr>
                <td>Badanie kliniczne</td>
                <td>50zł</td>
            </tr>
            <tr>
                <td>Badanie krwi -morfologia</td>
                <td>10zł</td>
            </tr>
            <tr>
                <td>Pobranie krwi</td>
                <td>30zł</td>
            </tr>
            <tr>
                <td>Szczepienie/wściekliźnie</td>
                <td>30zł</td>
            </tr>
            <tr>
                <td>Czyszczenie zębów</td>
                <td>od 120zł</td>
            </tr>
            <tr>
                <td>Porada</td>
                <td>25zł</td>
            </tr>
            <tr>
                <td>Sterylizacja suki</td>
                <td>od 200zł</td>
            </tr>
            <tr>
                <td>Kastracja psa</td>
                <td>od 150zł</td>
            </tr>
        </tbody>
    </table>
<img src="~/css/wet.png" style="float:right" />