@{
    ViewData["Title"] = "Gabinety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Weterynarze</h1>
<div style="display: flex">
    <div class="circular"><img src="~/css/wet.jpg " class="circular" style="float:left" /></div>
    <div style="margin-left: 2%; display: flex; justify-content: center; align-items: flex-start; flex-direction: column">
        <h1>Dr Marek Kowalski</h1>
        <p>
            Lekarz Weterynarii
            W 2008 roku ukończył studia na Wydziale Medycyny Weterynaryjnej w Lublinie.
            Po uzyskaniu dyplomu wyjechał do Wielkiej Brytanii, gdzie poszerzał swoją wiedzę i umiejętności pracując w klinikach weterynaryjnych.
            W czasie swojej 5-cio letniej praktyki za granicą brał udział w wielu szkoleniach i kursach z zakresu chorób zwierząt towarzyszących.
            Po powrocie do Polski postanowił wykorzystać swoją dotychczasową wiedzę i umiejętności tworząc Centrum Weterynaryjne VetReserve.
        </p>
    </div>
</div>
<div style="display: flex">
    <div class="circular"><img src="~/css/wet2.jpg " class="circular" style="float:left" /></div>
    <div style="margin-left: 2%; display: flex; justify-content: center; align-items: flex-start; flex-direction: column">
        <h1>Dr Alicja Szostak</h1>
        <p>
            Lekarz Weterynarii
            Ukończyła studia na Wydziale Medycyny Weterynaryjnej w Olsztynie. 
            Swoje doświadczenie i wiedzę weterynaryjną poszerzała między innymi angażując się w pracę w schronisku dla bezdomnych zwierząt w 
            Białorusi oraz pracę w lecznicach dla małych zwierząt w Polsce. 
        </p>
    </div>
    </div>



